
@{
    ViewBag.Title = "Customer_Home";
}

<h2>Customer Home</h2>

@Html.ActionLink("Create a New Work Order", "Create_Order", "Customers", null, new { @class = "btn" })<br />
@Html.ActionLink("View Orders", "View_Orders", "Customers", null, new { @class = "btn" })<br />
@Html.ActionLink("View Account Profile", "Details", "Customers", null, new { @class = "btn" })<br />
@Html.ActionLink("View Invoices", "View_Invoices", "Customers", null, new { @class = "btn" })<br />



