
@{
    ViewBag.Title = "Customer_Home";
}

<h2>Customer Home</h2>

@Html.ActionLink("Create a New Work Order", "Create_Order", "Customers")<br />
@Html.ActionLink("View Orders", "View_Orders", "Customers")<br />
@Html.ActionLink("Update Account Profile", "Edit", "Customers")<br />



