
@{
    ViewBag.Title = "Login";
}
<h2>Customer Login</h2>
<div class="scene_element scene_element--fadeinup">
    @using (Html.BeginForm("Login", "Customers", FormMethod.Post))
    {
        <label for="inputEmail">Email address</label>
        <br/>
        @Html.TextBox("Email address")
        <br/>
        <label for="inputPassword">Password</label>
        <br/>
        @Html.Password("Password")<br /><br />
        <button type="submit">Login</button>
    }
</div>




