
@{
    ViewBag.Title = "Login";
}

<h2>Customer Login</h2>

@using (Html.BeginForm())
{
    <p>Email:</p>
    @Html.TextBox("myTextBox", null, new { @class = "form-control" })<br />
    <p>Password:</p>
    @Html.TextBox("myTextBox", null, new { @class = "form-control" })<br />
}

<a href="@Url.Action("Login", "Customer_Home", "Customers")" class="btn btn-default" />



