
@{
    ViewBag.Title = "Shipping_Info";
}

<h2>Shipping Information </h2>

<p>Thanks for your order! We will be in touch shortly with more details...</p><br />
<p>Download the shipping label below to send us your order.</p><br />
<img src="~/Content/Images/shipping_label.jpg" />

@Html.ActionLink("Return to customer menu", "Customer_Home", null, new { @class = "btn" })