
@{
    ViewBag.Title = "Added_Report";
}

<h2>Report successfully added</h2>

<p>You have successfully added a new report!</p>

@Html.ActionLink("Back to List of Orders", "View_Orders", null, new { @class = "btn" })<br />
@Html.ActionLink("Back to Employee Home", "Index", null, new { @class = "btn" })
