
@{
    ViewBag.Title = "Assay_Edited";
}

<h2>Assay Edited</h2>

<p>You have successfully edited the assay!</p>

@Html.ActionLink("Back to Assays", "View_Assays", null, new { @class = "btn" })<br />
@Html.ActionLink("Back to Employee Home", "Index", null, new { @class = "btn" })


