
@{
    ViewBag.Title = "Assay_Created";
}

<h2>Assay Created</h2>

<p>The assay has been successfully created!</p>


@Html.ActionLink("Back to Assays", "View_Assays", null, new { @class = "btn" })<br />
@Html.ActionLink("Back to Employee Home", "Index", null, new { @class = "btn" })

