
@{
    ViewBag.Title = "Index";
}

<h2> Seattle Index</h2>

@Html.ActionLink("View Customers", "View_Customers")<br />
@Html.ActionLink("Add New Customer", "Add_Customer")<br />
@Html.ActionLink("Add Reports to an Order", "View_Orders")<br />
@Html.ActionLink("Create Invoices", "Show_Completed_Orders")<br />