
@{
    ViewBag.Title = "Contact";
}

<h2>Contact Northwest Labs</h2>

<img style="width:100%" src="~/Content/Images/testtubes1.png" /><br /><br />
<p>Need to get in contact with us? Want to start a new order with our company? Contact our sales/customer supposrt team at the number below. We are ready and willing to assist you at Northwest Labs.</p>
<p>(800) 654-3345</p>

