
@{
    ViewBag.Title = "Added_Test_Date";
}

<h2>Scheduled Test Date</h2>

<p>The test date for this sample has been scheduled! </p>

@Html.ActionLink("Back to unscheduled orders list", "Schedule_Test")<br />
@Html.ActionLink("Back to Employee Home", "Index")


