
@{
    ViewBag.Title = "Added_Price_Quote";
}

<h2>Added Price Quote</h2>


<p>The price quote for this order has been scheduled! </p>

@Html.ActionLink("Back to orders list", "View_Orders_Price_Quote", null, new { @class = "btn" })<br />
@Html.ActionLink("Back to Employee Home", "Index", null, new { @class = "btn" })
