
@{
    ViewBag.Title = "Created_Compound";
}

<h2>Successfully created new sample compound!</h2>

@Html.ActionLink("Create New Sample of Same Compound", "Add_Compound_Details")<br />
@Html.ActionLink("Back to List of Unreceived Orders", "View_New_Orders")<br />
@Html.ActionLink("Back to Employee Home", "Index")


