
@{
    ViewBag.Title = "Singapore_Home";
}

<h2>Singapore Home</h2>

@Html.ActionLink("View Unreceived Orders", "View_New_Orders", "Singapore")<br />
@Html.ActionLink("Schedule a Test", "Schedule_Test", "Singapore")<br />
@Html.ActionLink("Label Test Tubes", "Label_Tubes", "Singapore")<br />
@Html.ActionLink("Input Test Results", "Finish_Test", "Singapore")<br />



