
@{
    ViewBag.Title = "Material_Created";
}

<h2>Material Created</h2>

<p>Successfully created a new material!</p>

@Html.ActionLink("Back to View Materials", "View_Materials", "Singapore")
@Html.ActionLink("Back to Employee Home", "Index", "Singapore")

