
@{
    ViewBag.Title = "Material_Edited";
}

<h2>Material Edited</h2>

<h2>Successfully edited the material!</h2>

@Html.ActionLink("Back to List of Unreceived Orders", "View_Materials")<br />
@Html.ActionLink("Back to Employee Home", "Index")

