
@{
    ViewBag.Title = "Results_Inputted";
}

<h2>Test Results Successfully Inputted!</h2>

@Html.ActionLink("Back to List of Unfinished Sample Tests", "Finish_Test")<br />
@Html.ActionLink("Back to Employee Home", "Index")

